<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">

    <title>Printer App</title>
</head>
<body>
    <nav>
        <div class="navbar">
          <a href="#" class="logo">Texturize</a>
          <ul class="nav-links">
            <li><a href="/about">About</a></li>
            <li><a href="/cost">Cost</a></li>
            <li><a href="/choose">Print</a></li>
          </ul>
        </div>
      </nav>
        
    <h1>Texturize</h1>
    <p class="print">About</p>

    <p class="content">Texturize is an easy to use web based application which uses cutting edge technology to  print your images and documents with textures that you can feel with the help of height maps.
    </p>
    </body>
    </html>