<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cost</title>
    <link rel="stylesheet" href="cost.css">
</head>
<body>
        <nav>
          <div class="navbar">
            <a href="#" class="logo">Home</a>
            <ul class="nav-links">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/team">Team</a></li>
              <li><a href="/service">Service</a></li>
              <li><a href="/centres">Centres</a></li>
            </ul>
          </div>
          </nav>
            
        <h1>Texturize</h1>
        <p class="print">Cost</p>
        <p class="content">Printer</p>
        <h1 class="cost">₹17,000</h1>
        <div class="outline">
        <img src="cosprint.png"></img>
      </div>
</body>
</html>