<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cost</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
        <nav>
            <div class="navbar">
              <a href="#" class="logo">Texturize</a>
              <ul class="nav-links">
                <li><a href="/about">About</a></li>
                <li><a href="/cost">Cost</a></li>
                <li><a href="/choose">Print</a></li>
              </ul>
            </div>
          </nav>
          <video autoplay muted loop id="myVideo">
            <source src="video.mp4" type="video/mp4">
          </video>
        <h1>Texturize</h1>
        <p class="content">Feel Your Prints</p>
        
        <!-- <p class="content">Printer</p> -->
        <!--<h1 class="cost">₹17,000</h1> -->
</body>
</html>