<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">

    <title>Printer App</title>
</head>
<body>
    <nav>
      <div class="navbar">
        <a href="#" class="logo">Home</a>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="/service">Service</a></li>
          <li><a href="/centres">Centres</a></li>
        </ul>
      </div>
      </nav>
        
      <h1 class="titlehead">Texturize</h1>
      <p class="print">Print</p>
      <div class="container">
          <p class="context">Drag and Drop here</p>
      </div>
      <input type="file" id="upload-button" accept="image/*" />
  <label for="upload-button">
    <i class="fa-solid fa-upload"></i>&nbsp; Choose Photo
  </label>
  <h1 class="newtit dont">Processing</h1>
    <div class="waveWrapper waveAnimation dont">
          <div class="wave waveTop dont" style="background-image: url(wave_1.png)"></div>
          <div class="wave waveBottom dont" style="background-image: url(wave_2.png)"></div>
      </div>
      <div class="circ dont">

      </div>
  

  <div id="error"></div>
  <div class="image-display dont">
    <h1 class="imagetxt dont txt1">Image</h1>
  <h1 class="imagetxt dont txt2">Height Map</h1>
  <img class="normal"></img>
  </div>
   <div class="image-display2 dont"> 
    <img class="bw"></img>
  </div>
  <label class="final dont">
    Confirm
  </label>
  </body>
  </html>

<script type="text/javascript" src="think.js">
</script>
