<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="process.css">
    <title>process</title>
</head>
<body>
  <nav>
    <div class="navbar">
      <a href="#" class="logo">Texturize</a>
      <ul class="nav-links">
        <li><a href="/about">About</a></li>
        <li><a href="/cost">Cost</a></li>
        <li><a href="/choose">Print</a></li>
      </ul>
    </div>
  </nav>
    <h1 class="fin">Printing Pages (1 of 1)</h1>
    <div class="bar"></div>
      <script type="text/javascript">
        setTimeout(() => {
            document.querySelector(".fin").innerHTML="Printing Complete"
  }, 2000); // Delay in milliseconds (2 seconds)
      </script>
</body>
</html>