<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="choose.css">

    <title>Printer App</title>
</head>
<body>
    <nav>
      <div class="navbar">
        <a href="#" class="logo">Home</a>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="/service">Service</a></li>
          <li><a href="/centres">Centres</a></li>
        </ul>
      </div>
      </nav>
        
    <h1>Texturize</h1>
    <p class="print">Select Printer</p>
    <div >
      <div ><p class="item item1">Printer_01</p></div>
      <div ><p class="item item2">Printer_02</p></div>
      <div ><p class="item item3">Printer_03</p></div>
      <div ><p class="item item4">Printer_04</p></div>
      <div ><p class="item item5">Printer_05</p></div>
      <img class="borderimg"src="pritner_borders.png">

      <img class="wifi"src="wifi.png">
      <img class="wifi1"src="wifi.png">
      <img class="wifi2"src="wifi.png">
      <img class="wifi3"src="wifi.png">
      <img class="wifi4"src="wifi.png">

      <script type="text/javascript">
        for (var i = 0;i<=document.querySelectorAll(".item").length;i++){
          document.querySelectorAll(".item")[i].addEventListener("click",function(){
            window.location.href="/print"
          })
        }
        
      </script>
    </div>
    </body>
    </html>